body {
 margin: 4em;
}

.topnav {
  display: block;
  height: 50px;
  margin: 1em 2em;
}

#links{
  display: inline;
  float: right;
}

#links a {
  padding: 1em;
  text-decoration: none;
  top: 1em;
}

.button {
  background-color: black;
  color:white;
  border-radius: 4px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 20%;
  padding: 0 8px;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

/* #gallery{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.row{
  flex: 25%;
  max-height: 25%;
  padding: 0 4px;
}

.row img {
  margin-top: 8px;
  vertical-align: middle;
  height: 100%;
} */
